
.Rhistory

.Rproj.user/84E3CF62/

.Rproj.user/shared/notebooks/

requests.log

data_raw/

.Rproj.user/ADF912B8/sources/prop/

.Rproj.user/ADF912B8/sources/s-8AE2E160/

.Rproj.user/ADF912B8/

.RData
